<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE-ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/all.log</file> 
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>./logs/all.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-USER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/user.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>./logs/user.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="pe.edu.upc.TFFinanzas" level="INFO" additivity="false">
        <appender-ref ref="FILE-USER" />
    </logger>

    <logger name="pe.edu.upc.TFFinanzas.TfFinanzasApplication" level="OFF"/>
    
    <root level="INFO">
        <appender-ref ref="FILE-ALL" />
    </root>

</configuration>